* {
    box-sizing: border-box;
}

:root{
    --main-color: #FF9400;
    --second-color: #737171;
}

body, html {
    margin: 0;
    padding: 0;
}

html{
    font-size: clamp(16px, 1.5vw, 24px);
}

body{
    font-size: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: relative;
}

.global-padding{
    padding-left: 5vw;
    padding-right: 5vw;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.center-nav{
    display: flex;
    gap: 1.5rem;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: red;
}

nav a {
    color: #000;
    font-weight: 300;
    font-size: 0.80rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a:hover{
    color: red;
}

.icon {
    height: 1.23rem;
    width: auto;
} 

#contact .icon {
    display: none;
} 
#burger {
    display: none;
} 

.icon-burger{
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line{
    height: 1.2px;
    background-color: #000;
    width: 100%;

}


@media screen and (max-width: 700px) {
    #contact .txt {
        display: none;
    }
    #contact .icon {
        display: block;
   } 
    
}

@media screen and (max-width: 540px) {
    #burger {
        display: block;
    }
    .center-nav {
        display: none;
   } 
    
}